<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCH_9uKcTrKU4HADEbYv4my7xmkqGIQ6NE</string>
	<key>GCM_SENDER_ID</key>
	<string>805798893643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gr.stackmak.CaptureVue</string>
	<key>PROJECT_ID</key>
	<string>capturevueid</string>
	<key>STORAGE_BUCKET</key>
	<string>capturevueid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805798893643:ios:a3a0f49e99d1e472d295ce</string>
</dict>
</plist>